<header
	class="fixed inset-x-0 z-40 items-center w-screen pt-3 base-grid md:pt-4"
>
	<div
		class="z-10 h-10 col-span-3 col-start-1 justify-self-start sm:col-span-2 sm:col-start-2"
	>
		<a
			href="{{ ($.Site.GetPage `/`).RelPermalink }}"
			class="w-max fill-[#ebebeb] dark:fill-neutral-900"
			id="logohome"
		>
			{{ partial "svg/logo.svg" }}
		</a>
	</div>
	<div
		class="grid items-center justify-end grid-flow-col col-start-4 col-end-13 gap-4 sm:col-end-12"
	>
		{{ partial "nav/listNav.html" . }}
		{{ partial "hamburger.html" . }}
		{{ partial "nav/dropdown.html" . }}
	</div>
</header>
