<header class="fixed inset-x-0 z-50 grid w-screen grid-cols-12 py-9">
	<div class="col-span-2 col-start-2 h-10 justify-self-start fill-neutral-800">
		<a
			href="{{ ($.Site.GetPage `/`).RelPermalink }}"
			class="fill-[#ebebeb] transition-colors hover:fill-sunset"
		>
			{{ partial "svg/logo.svg" }}
		</a>
	</div>
	<nav
		class="col-start-6 col-end-12 flex flex-col items-center gap-3 justify-self-end sm:flex-row"
	>
		<ul
			class="flex gap-8 text-base font-semibold text-neutral-300 md:flex-col md:gap-1 md:text-xl"
		>
			{{ range $.Site.Menus.main }}
				{{ if ne .Params.hidden "true" }}
					<li>
						<a
							class="{{ if eq $.Page.RelPermalink .URL }}
								text-sunset
							{{ end }} font-bold hover:text-red-500"
							href="{{ .URL }}"
						>
							{{ .Name }}
						</a>
					</li>
				{{ end }}
			{{ end }}

		</ul>

		<a
			href="{{ range .Translations }}{{ .RelPermalink }}{{ end }}"
			class="flex items-center gap-1 border-2 border-neutral-500 bg-neutral-800 p-[6px] text-sm font-medium outline-none sm:p-2 sm:text-base"
		>
			<span
				class="{{ if eq .Page.Language.Lang `cs` }}
					bg-neutral-200 text-neutral-900
				{{ end }} inline-block aspect-square p-[2px] leading-none sm:p-1"
				>cs</span
			>
			<span
				class="{{ if eq .Page.Language.Lang `en` }}
					bg-neutral-200 text-neutral-900
				{{ end }} inline-block aspect-square p-[2px] leading-none sm:p-1"
				>en</span
			>
		</a>
	</nav>
</header>
