<header
	class="absolute inset-x-0 z-40 grid w-screen grid-cols-12 px-5 py-3 sm:px-0 sm:py-9"
>
	<div
		class="h-10 col-span-3 col-start-1 justify-self-start sm:col-span-2 sm:col-start-2"
	>
		<a
			href="{{ ($.Site.GetPage `/`).RelPermalink }}"
			class="fill-[#ebebeb] transition-colors hover:fill-sunset dark:fill-neutral-900"
		>
			{{ partial "svg/logo.svg" }}
		</a>
	</div>
	<nav
		class="flex flex-col items-end col-start-4 col-end-13 gap-3 justify-self-end sm:col-end-12 sm:flex-row sm:items-center"
	>
		<ul
			class="flex gap-3 text-base font-semibold text-neutral-300 sm:gap-5 md:text-xl"
		>
			{{ range $.Site.Menus.main }}
				{{ if ne .Params.hidden "true" }}
					<li>
						<a
							class="{{ if eq $.Page.RelPermalink .URL }}
								text-sunset
							{{ end }} group font-bold hover:text-sunset-dark dark:text-neutral-900"
							href="{{ .URL }}"
						>
							{{ .Name }}
							{{ if eq .Params.minlogo "true" }}
								<span
									class="{{ if eq $.Page.RelPermalink .URL }}
										fill-sunset
									{{ end }}inline-block h-3 w-3 fill-neutral-200 group-hover:fill-sunset-dark md:h-4 md:w-4"
									>{{ partial "svg/logo-min.svg" }}</span
								>
							{{ end }}
						</a>
					</li>
				{{ end }}

			{{ end }}

		</ul>

		<a
			href="{{ range .Translations }}{{ .RelPermalink }}{{ end }}"
			class="flex items-center gap-1 border-2 border-neutral-500 bg-neutral-800 p-[6px] text-sm font-medium outline-none sm:p-2 sm:text-base"
		>
			<span
				class="{{ if eq .Page.Language.Lang `cs` }}
					bg-neutral-200 text-neutral-900
				{{ end }} inline-block aspect-square p-[2px] leading-none sm:p-1"
				>cs</span
			>
			<span
				class="{{ if eq .Page.Language.Lang `en` }}
					bg-neutral-200 text-neutral-900
				{{ end }} inline-block aspect-square p-[2px] leading-none sm:p-1"
				>en</span
			>
		</a>
	</nav>
</header>
