<section
	id="hero"
	class="relative grid items-center w-screen h-screen base-grid snap-start snap-normal pt-14"
>
	<div
		class="grid grid-flow-row col-start-1 col-end-13 place-items-center sm:col-start-2 sm:col-end-12"
	>
		<div class="relative">
			<div
				class="hero-grid relative aspect-[3/5] origin-bottom-right lg:aspect-[5/3]"
			>
				<div class="absolute inset-0 scale-0 bg-neutral-100">
					<div id="pm-link" class="absolute inset-0 group">
						<span
							class="font-black uppercase transition-all opacity-0 text-8xl text-neutral-800 group-hover:opacity-100"
						>
							PM
						</span>
					</div>
				</div>
				<div
					class="relative col-start-3 row-span-2 row-start-4 overflow-hidden origin-bottom-right scale-0 lg:col-span-2 lg:col-start-4 lg:row-span-1 lg:row-start-3"
				>
					<div id="marketing-link" class="absolute inset-0 group bg-ronchi">
						<span
							class="font-black uppercase transition-all opacity-0 text-8xl text-neutral-800 group-hover:opacity-100"
						>
							MARKETING
						</span>
					</div>
				</div>
				<div
					class="relative col-start-3 row-span-2 row-start-2 overflow-hidden origin-bottom-right scale-0 lg:col-span-2 lg:col-start-2 lg:row-span-1 lg:row-start-3"
				>
					<div id="dev-link" class="absolute inset-0 group bg-tealblue">
						<span
							class="font-black uppercase transition-all opacity-0 text-8xl text-neutral-300 group-hover:opacity-100"
							>ENGINEERING</span
						>
					</div>
				</div>
				<div
					class="relative col-span-2 row-span-2 row-start-4 overflow-hidden origin-bottom-left scale-0 group lg:col-end-6 lg:row-start-1 lg:origin-top-right"
				>
					<div id="design-link" class="absolute inset-0 group bg-sunset">
						<span
							class="font-black uppercase transition-all opacity-0 text-8xl text-neutral-800 group-hover:opacity-100"
						>
							DESIGN
						</span>
					</div>
				</div>
			</div>
			{{ with $.Site.GetPage "/about" }}
				<a
					href="{{ .RelPermalink }}"
					class="after:scale-x-1 relative ml-auto mt-4 block w-max text-3xl font-black uppercase text-neutral-100 opacity-0 after:absolute after:bottom-0 after:left-0 after:h-[2px] after:w-full after:origin-left after:bg-white after:transition-transform hover:after:origin-right hover:after:scale-x-0"
				>
					{{ .Params.Name }}
				</a>
			{{ end }}
		</div>
	</div>
	{{ partial "scrollDownIndicator.html" . }}
</section>
