@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Gilroy;
		scroll-behavior: smooth;
		font-variant-ligatures: no-common-ligatures;
	}
	body {
		@apply relative;
		@apply text-neutral-200;
	}
	.base-grid {
		@apply grid grid-cols-12;
		@apply px-5 sm:px-0;
	}
	h1,
	h2 {
		@apply text-4xl leading-10 text-neutral-100 sm:text-5xl md:col-start-3 md:text-7xl xl:text-8xl;
	}
}

@layer components {
	.hero-grid {
		@apply grid grid-cols-3 grid-rows-5 lg:grid-cols-5 lg:grid-rows-3;
		@apply h-[60vh];
	}

	.custom-scroll::-webkit-scrollbar {
		@apply w-1 h-full rounded-full;
		@apply bg-neutral-800;
	}

	.checkbox-switch {
		@apply invisible w-0 h-0;
	}

	.prose a {
		@apply italic decoration-red-500;
		@apply link-strikethrough;
	}
}
