<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
	<head>
		{{ partial "head.html" . }}
		{{ block "head" . }}{{ end }}
	</head>
	<body class="overflow-x-hidden bg-neutral-900">
		{{ partial "analytics/gtmBody.html" . }}

		{{ block "header" . }}
			{{ partial "header.html" . }}
		{{ end }}
		<main>
			{{ block "main" . }}
				{{ .Content }}
			{{ end }}
		</main>
		{{ block "footer" . }}
			{{ partial "contact/contactFooter.html" . }}
			{{ partial "footer.html" . }}
		{{ end }}


		<div id="cookie-consent" class="z-50"></div>
		{{ $solidJS := resources.GetMatch "js/solid/web-*.js" }}
		<script type="module" src="{{ $solidJS.RelPermalink }}" defer></script>
		{{ $cookieBanner := resources.Get "js/solid/cookieBanner.js" | fingerprint }}
		<script type="module" src="{{ $cookieBanner.RelPermalink }}" defer></script>
		{{ partial "toaster" }}
		{{ $indexJS := resources.Get "ts/index.ts" | js.Build "js/index.js" | fingerprint | resources.Minify }}
		<script src="{{ $indexJS.RelPermalink }}" defer></script>
		{{ block "scripts" . }}{{ end }}
	</body>
</html>
