{{ define "header" }}
	{{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
	{{ partial "blog/categoryNav.html" . }}
	<section class="base-grid">
		{{ $posts := where .Pages.ByDate "Draft" false }}
		{{ $latestPost := first 1 $posts }}
		{{ range $index, $context := $latestPost }}
			{{ partial "blog/articlePreview.html" (dict "context" $context "isFirst" true) }}
		{{ end }}


		<hr class="col-start-1 col-end-13 md:col-start-2 md:col-end-12" />
	</section>
	{{ if gt (len $posts) 1 }}
		<section class="base-grid py-6 md:py-10">
			<div class="col-start-1 col-end-13 md:col-start-2 md:col-end-8">
				<p class="mb-6 text-sm uppercase text-neutral-300 md:mb-10">
					{{ i18n "latestPosts" }}
				</p>
				<ul>
					{{ range $index, $context :=  after 1 $posts }}
						<li>
							{{ partial "blog/articlePreview.html"  (dict "context" $context "isFirst" false) }}
							<hr class="my-10" />
						</li>
					{{ end }}
				</ul>
			</div>
		</section>
	{{ end }}
{{ end }}

{{ define "footer" }}
	{{ partial "footer.html" . }}
{{ end }}
