<section class="base-grid bg-neutral-950/20 py-20 md:py-28">
	<div
		class="col-start-1 col-end-13 grid grid-flow-row grid-cols-1 gap-16 md:col-start-2 md:col-end-12 md:gap-16 xl:grid-cols-2"
	>
		<div>
			<h2 class="text-3xl font-black sm:text-4xl">
				{{ .Get "heading" | default `Zarezervujte si 30 minutovou konzultaci <span class="text-sunset">zdarma</span>` | safeHTML }}
			</h2>
			<div
				class="mb-12 mt-6 max-w-2xl space-y-4 text-lg sm:mt-12 sm:space-y-8 sm:text-xl md:mt-10 md:text-2xl"
			>
				<p>
					{{ .Get "paragraph" | safeHTML }}
				</p>
			</div>
			<div>
				{{ $formName := .Get "name" }}
				<form
					data-name="call"
					class="flex gap-4"
					name="{{ $formName }}"
					method="POST"
					netlify-honeypot="bot-field"
					netlify
				>
					<p class="hidden">
						<label>
							Don’t fill this out if you’re human: <input name="bot-field" />
						</label>
					</p>
					<div class="relative flex-grow">
						<label for="call-mail" class="absolute -top-5 text-xs uppercase"
							>{{ i18n "form.email.label" }}</label
						>
						<div class="relative">
							<input
								class="w-full rounded-none border border-transparent bg-neutral-800 py-2 pl-3 pr-4 transition-colors duration-300 hover:bg-neutral-700 focus:border-neutral-600 focus-visible:outline-none"
								type="email"
								name="call-mail"
								id="call-mail"
								required
								aria-required="true"
								aria-invalid="false"
							/>
							{{/* error message */}}
							<div
								class="absolute bottom-0 w-full translate-y-full transform text-left italic text-red-600"
							>
								<span
									class="hidden w-full text-sm"
									data-validation-empty="true"
								>
									{{ i18n "form.email.error.empty" }}
								</span>
								<span
									class="hidden w-full text-sm"
									data-validation-format="true"
								>
									{{ i18n "form.email.error.format" }}
								</span>
							</div>
						</div>
					</div>
					<button
						type="submit"
						data-toast-error="{{ i18n `form.toast.error` }}"
						data-toast-success="{{ i18n `form.toast.success` }}"
						class="border border-neutral-600 px-5 py-2 text-sm font-bold text-neutral-50 transition-colors hover:bg-sunset sm:px-8 "
					>
						<div class="relative inline-block uppercase">
							{{ i18n "form.button" }}
						</div>
					</button>
				</form>
			</div>
		</div>
		{{ .Inner | safeHTML }}
	</div>
	{{ $contactScript := resources.Get "ts/cta30call.ts" | js.Build "js/cta30call.js" | fingerprint | resources.Minify }}
	<script src="{{ $contactScript.RelPermalink }}" defer></script>
</section>
