<div class="absolute inset-x-0 base-grid bottom-4">
	<div
		class="flex justify-center col-start-1 col-end-13 overflow-hidden sm:col-start-2 sm:col-end-12 sm:justify-normal"
	>
		<span
			class="text-xs uppercase dark:text-neutral-500"
			style="transform: translateY(var(--motion-translateY)); --motion-translateY: 100%;"
			data-animate="after"
		>
			<span
				class="inline-block w-2 h-2 mr-1 fill-neutral-100 dark:fill-neutral-500"
			>
				{{ partial "svg/arrow-down.svg" . }}
			</span>
			{{ i18n "scroll-down" . }}
		</span>
	</div>
</div>
