<meta property="og:site_name" content="Underliner studio" />
<meta property="og:locale" content="cs_CZ" />
{{ $ogImagePath := print $.Site.BaseURL "og/logo.jpg" }}
{{ $ogImage := imageConfig "/static/og/logo.jpg" }}
{{ if $.Page.Params.og }}
	{{ $ogImagePath = print $.Page.Permalink $.Page.Params.og }}
	{{ $ogImage = imageConfig (print $.Page.RelPermalink $.Page.Params.og) }}
{{ end }}
<meta property="og:url" content="{{ $.Page.Permalink }}" />
<meta property="og:image" content="{{ $ogImagePath }}" />
<meta property="og:image:alt" content="Underliner Studio web" />
<meta property="og:image:width" content="{{ $ogImage.Width }}" />
<meta property="og:image:height" content="{{ $ogImage.Height }}" />
<meta property="og:title" content="{{ $.Page.Title }}" />
<meta property="og:description" content="{{ $.Page.Description }}" />
<meta property="og:type" content="website" />
